* {
margin: 0;
padding:0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color:#F6F6F6;
}

Strong {
    color: #22D4FD
}

.apresentacao {
    display:flex;
    align-items: center;
}